.idea/
rascunho/
tcc-do-entra21-2020-equipe-abcd.iml
*.class
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.gradle/6.7/executionHistory/executionHistory.bin
.gradle/6.7/executionHistory/executionHistory.lock
.gradle/6.7/fileHashes/fileHashes.bin
.gradle/6.7/fileHashes/fileHashes.lock
.gradle/6.7/fileHashes/fileHashes.lock
.gradle/6.7/javaCompile/classAnalysis.bin
.gradle/6.7/javaCompile/javaCompile.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
build/tmp/compileJava/source-classes-mapping.txt